@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:ital,wght@0,500;1,300;1,700&display=swap");

:root {
  --main-theme-color: #9926f0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* for pop up */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
@keyframes popup {
  0%{
    transform:scale(0)
    
  }
  100%{
    transform:scale(1)
    
  }
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #000;
  border-radius: 10px;
  animation: popup 300ms   
}
.simple-list li {
  padding: 10px;
  list-style: none;
  font-size: 1.3rem;
  font-style: italic;
}
.simple-list li a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-icons {
  height: 40px;
  width: auto;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 45px;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  background-color: #9926f0;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 10px 0;

  background-color: #9926f0;
}
.navbar.sticky .logo a span {
  color: white;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600px;
  color: #fff;
}
.navbar .logo a span {
  color: #9926f0;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #9926f0;
}
.navbar.sticky .menu li a:hover {
  color: rgb(39, 29, 29);
  opacity: 1;
}
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.home {
  display: flex;
  background-image: url("./images/make website-min.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  /* color: #9926f0; */
  color:white;
  
   background-repeat: no-repeat;
   background-position: center center;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
  font-style: italic;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: white;
  font-weight: 500;
}
.home .home-content button {
  display: inline-block;
  background: #9926f0;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #9926f0;
  transition: all 0.3s ease;
}
.home .home-content button:hover {
  color: #9926f0;
  background: none;
  font-size: 1.7em;
}
/* About Section Styling */

.about {
  font-family: "Poppins", sans-serif;
}
.about .title {
  /* position: relative; */
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;

  font-family: "Ubuntu", sans-serif;
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .title::after {
  content: "who am i";
  position: absolute;
  bottom: -17px;
  left: 50%;
  font-size: 20px;
  color: #9926f0;
  padding: 5px;
  background: rgb(255, 255, 255);
  transform: translateX(-50%);
}
.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .about-content .left {
  width: 45%;
  max-width:100%;
  display:block;
  height:auto;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #9926f0;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a.cv {
  display: inline-block;
  background: #9926f0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #9926f0;
  transition: all 0.3s ease;
  display: none;
}
.about .about-content .right a:hover {
  color: #9926f0;
  background: none;
}
.about .about-content .right a.college {
  text-decoration: none;
}
.about .about-content .column {
  width: 50%;
}
/* services section */
.services {
  overflow: hidden;
 

  margin: 0 auto;

 
  
}
.max-width > h1 {
  padding: 10px;
  font-size: 2.5rem;
}
.services .services-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-content .youtube {
  background-color: rgba(0, 0, 255, 0.479);
  box-shadow: 4px 4px 9px rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0);
  border-radius: 6px;
  margin: 10px;
}
.services .services-content .youtube-channel {
  margin: 0 auto;
  display: flex;

  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.services .services-content .youtube {
  padding:20px
}
.services .services-content i.fab.fa-youtube {
  font-size: 5em;
  margin: 10px;
  transition: all 0.2s ease;
}
.services .services-content i:hover {
  color: red;
}

.services .services-content .youtube-channel a:hover {
  color: red;
}
.services .services-content .youtube-channel a {
  color: rgb(212, 212, 212);
  transition: all 0.3s ease;
}
.services .services-content .website {
  padding:35px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0);
  border-radius: 6px;
  /* margin: 10px; */
  width:100%;

 max-width:100%;
  display:block;
  height:auto;

 height: fit-content;
  width:fit-content

}
.services .services-content .website h3{
  padding:10px;
}
.services .services-content .website img{
  height: 100px;


 
}

/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #9926f0;
}

.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .subtitle {
  color: black;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #9926f0;
}
.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-right: 10px;
}

.contact .right form .textarea {
  height: 150px;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  color: #fff;
  border: 2px solid #9926f0;
  background: #9926f0;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: #9926f0;
  background: none;
}

.contact .right form .fields input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
#status {
  width: 80%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(255, 255, 255);
  color: green;
  animation: status 4s ease forwards;
}
#status.error {
  color: #9926f0;
  animation: status 4s ease forwards;
}

/* all similar content styling code */
section {
  padding: 30px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #9926f0;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}
footer {
  height: 100px;
  background-color: #9926f0;
  width: 100%;
}
footer i {
  font-size: 2em;
  color: #fff;
  margin: 10px;
  justify-content: space-between;
  display: flex;
}
/* Responsive Media Qwery */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    background: #111;

    /* top:8.5%; */
    top: 0;
    width: 100%;
    left: -100%;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    opacity: 0.9;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    /* padding: 10px 30px; */
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 21px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .services .services-content {
    font-size: 15px;
  }
  .services {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }

  /* @media (max-width: 500px){
    overflow-x:hidden;
    } */
}
/* FONTAWESOME CSS */

.fas
 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}


.fa-long-arrow-alt-left:before {
  content: "f30a";
}

.fa-long-arrow-alt-right:before {
  content: "f30b";
}

